<%- include('header') %>
<div class="skills" style="padding: 40px;text-align: justify;">
    <h1 class="skills-h1">ABOUT ME</h1>
    <p class="aboutme-text">
        Hi, <span class="material-symbols-outlined" style="font-size: 18px;color: white;">
            sentiment_very_satisfied
            </span> I,m Aditya Bhardwaj. This section is different from others as I am sharing some personal information here. My hobbies are playing chess
            and badminton. I also love singing. I spend most of my time improving my skills and learning new things everyday. My english is not very good, but
            it's good enough to share my thoughts with the other person. I don't like writing a lot but I love reading books.
            <br>
            I always keep on looking for ideas which can contribute to the world in a good way.
            <br>
    </p>
    <p class="aboutme-text">
        Gmail Address - bhardwajaditya0204 @gmail.com
        <br><br>
        If you want to contact me please send a mail to me or you can text me on other mentioned social handles.<br>
        Thank You.
        <br>
        <div class="back" style="text-align: center;"><a href="/"><button type="submit" class="btn-hire">BACK TO HOME</button></a></div>
    </p>
</div>
<%- include('footer') %>
