<div class="nav">
    <ul class="nav-ul">
        <!-- <div class="div-li nav-view"><li class="nav-ul-li"><a href="" class="nav-a"><span class="material-symbols-outlined">
            arrow_drop_down
            </span></a></li></div> -->
        <div class="div-li"><li class="nav-ul-li"><a href="/" class="nav-a">HOME</a></li></div>
        <div class="div-li"><li class="nav-ul-li"><a href="/projects" class="nav-a">PROJECTS</a></li></div>
        <div class="div-li"><li class="nav-ul-li"><a href="/skills" class="nav-a">SKILLS</a></li></div>
        <div class="div-li"><li class="nav-ul-li"><a href="/about" class="nav-a">ABOUT ME</a></li></div>
    </ul>
</div>
</div>
</body>
</html>