<%- include('header') %>
<div class="content">
    <div class="content-div content-left">
        <p class="p-email">bhardwajaditya0204@gmail.com</p>
        <p class="p-hello p-intro">HELLO</p>
        <p class="p-name p-intro">I'm Aditya</p>
        <p class="p-s-intro p-intro">A Fullstack Web developer and <br>
            UI/UX Designer from India.</p>
            <div class="hire-b" style="text-align: center;margin-top: 30px;margin-bottom: 30px;">
                <a href="/hire"><button type="submit" class="btn-hire">HIRE ME</button></a>
            </div>
        <div class="social-links">
            <a href="https://www.instagram.com/?hl=en"><img src="/route/images/social/insta.jpeg" class="social"></a><a href="https://www.linkedin.com/feed/"><img src="/route/images/social/link.png" class="social"></a><a href="mailto:bhardwajaditya0204@gmail.com"><img style="width:50px;height: 47px;border-radius: 10px;" src="/route/images/social/mail.png" class="social"></a>
        </div>
    </div>
    <div class="content-div content-right">
        <div class="c-r-t"><img src="/route/images/adi_img.jpeg" class="profile_pic"></div>
        <div class="c-r-b">
            <p class="c-r-b-p">My name is Aditya Bhardwaj. I'm a computer science engineer with a good knowledge of full stack development.</p>
            <a href="https://drive.google.com/file/d/1zC94QW9sKWBQ2VecEgRx_XiwtZurcE43/view?usp=sharing"><button type="submit" class="btn-res">VIEW RESUME</button></a>
        </div>
    </div>
</div>
<%- include('footer') %>
