<%- include('header') %>
<div class="skills" style="overflow-y: auto;">
    <h1 class="skills-h1">Projects</h1>
    <img src="/route/images/projects/p1.jpg" class="projects-img"><img src="/route/images/projects/p2.jpg" class="projects-img">
    <img src="/route/images/projects/p3.png" class="projects-img"><img src="/route/images/projects/p4.png" class="projects-img">
    <img src="/route/images/projects/p5.png" class="projects-img">
</div>
<%- include('footer') %>