<%- include('header') %>
<div class="skills">
    <h1 class="skills-h1">Skills</h1>
    <div class="skill1 skill">
        <h3 class="skill1-h3 skill-h">JAVA<span style="color: white;"> (85%)</span></h3><br><img src="/route/images/skills/skill1.jpg" class="skill-img">
    </div>
    <div class="skill2 skill">
        <h3 class="skill1-h3 skill-h">DS-ALGO<span style="color: white;"> (80%)</span></h3><br><img src="/route/images/skills/skill2.jpg" class="skill-img">
    </div>
    <div class="skill3 skill">
        <h3 class="skill1-h3 skill-h">Web Development<span style="color: white;"> (90%)</span></h3><br><img src="/route/images/skills/skill3.jpg" class="skill-img">
    </div>
    <div class="skill4 skill">
        <h3 class="skill1-h3 skill-h">Android Development<span style="color: white;"> (70%)</span></h3><br><img src="/route/images/skills/skill4.jpg" class="skill-img">
    </div>
    <div class="skill5 skill">
        <h5 class="skill5-h5 skill-h">Problem Solving, Mongo DB, MYSQL, C++, Python ,AI/ML, Node JS, React JS, JAVASCRIPT, HTML, CSS and many more ...</h5>
    </div>
</div>
<%- include('footer') %>
